# Set default behavior to automatically normalize line endings
* text=auto

# Ensure shell scripts and maven wrapper keep UNIX line endings
**/mvnw text eol=lf
*.sh text eol=lf

# Ensure Windows batch and cmd files keep CRLF line endings
*.cmd text eol=crlf
*.bat text eol=crlf
